@import '../../scss/variables.scss';

.Web3Status {
  display: flex;
  align-items: center;

  &AddressWrapper {
    display: flex;
    align-items: center;
  }

  &Address {
    color: #70f1d9;
  }

  &Holder {
    background-color: rgba(112, 241, 217, 0.3);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    color: #70f1d9;
  }
}

.NetworksMenu {
  border: 1px solid $border;
  background: #292c32;
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  top: 65px;
  left: 0;
  width: 300px;
  white-space: nowrap;
  z-index: 11;

  &Title {
    margin-bottom: 10px;
  }

  &Image {
    margin-right: 8px;

    &Hidden {
      display: none;
    }
  }

  &Hidden {
    display: none;
  }

  &Translated {
    right: 0;
    left: auto;
  }

  &List {
    display: flex;
    flex-direction: column;
  }

  &Wrapper {
    position: relative;
    margin-right: 20px;
  }

  &MainButton {
    display: flex;
    align-items: center;
    background-color: #292c32;
    background: #292c32;
    border-radius: 8px;
    color: #fff;
    padding: 15px 16px;
    border: none;
    cursor: pointer;
  }

  &Button {
    margin-top: 10px;
    background-color: #292c32;
    border-radius: 8px;
    border: 1px solid #373839;
    padding: 16px;
    color: #fff;
    display: flex;
    align-items: center;
  }

  &ButtonActive {
    border: 1px solid #fff;
    background-color: #292c32;
    padding: 16px;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &ButtonContent {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &Arrow {
    height: 20px;
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .Web3Status {
    &Holder {
      padding: 14px 12px;
    }
  }
}
