@import '../../../scss/variables.scss';

.GalleryItem {
  display: flex;
  flex-direction: column;
  background-color: $card-bg;
  border-radius: 16px;
  overflow: hidden;
  width: 260px;
  height: 100%;

  &Wrapper {
    padding: 1px;

    &Active {
      border-radius: 16px;
      background: linear-gradient(
        122.82deg,
        rgba(112, 241, 217, 0.7) 0.61%,
        rgba(112, 241, 217, 0.2) 76.92%
      );
    }
  }

  &Picture {
    width: 100%;
    height: 260px;
  }

  &Info {
    margin: 20px 16px 0;

    &Head {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 18px;

      border-bottom: 1px solid $border;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-align: left;
    }

    &Foot {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding: 12px 0;
      border-bottom: 1px solid $border;
      &Disabled {
        border: none;
      }
    }
  }

  &Spec {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &Label {
      font-weight: normal;
      font-size: 13px;
      color: $secondary-text;
      margin-bottom: 2px;
    }

    &Value {
      font-weight: normal;
      font-size: 13px;

      &Link {
        font-size: 13px;
      }
    }
  }

  &NetworkLogo {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -40px;
    right: -5px;
  }

  &Button {
    padding: 10px 20px;
    width: 100%;

    &Disabled {
      display: none;
    }

    &Info {
      color: #3e7e00;
      display: block;
      font-style: italic;
      font-size: 16px;
    }
  }
  &ButtonsContainer {
    margin: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
  }
}
