@import '../../scss/variables.scss';

.Activities {
  &Container {
    display: flex;
  }

  &Wrapper {
    margin: 20px auto;
    width: max-content;
  }

  &Table {
    display: flex;
    flex-direction: column;
    margin: 50px auto 20px;
    flex-basis: 900px;

    &Header {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 20px;

      &Item {
        width: 25%;

        color: rgba(255, 255, 255, 0.4);
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        text-align: left;

        &Small {
          width: 20%;
        }
        &Medium {
          width: 25%;
        }
        &Large {
          width: 35%;
        }
        &ExtraSmall {
          width: 10%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Activities {
    &Table {
      margin-top: 20px;
      &Header {
        padding: 15px 10px;
        &Item {
          font-size: 12px;
          &Small {
            width: 20%;
          }
          &Medium {
            width: 30%;
          }
          &Large {
            width: 25%;
          }
          &ExtraSmall {
            width: 10%;
          }
        }
      }
    }
  }
}
