@import '../../scss/variables.scss';

.Gallery {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  background-color: #22252c;
  padding: 32px;
  border: 1px solid $border;
  border-radius: 16px;
  max-width: 1200px;

  &Spinner {
    display: flex;
    justify-content: center;
  }

  &ChainStatus {
    display: none;
  }

  &Head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid $border;
    display: flex;
    align-items: center;

    &Title {
      font-weight: 600;
      display: flex;
      align-items: center;
    }

    &Logo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;
      border: 2px solid $border;
    }

    &Counter {
      color: $secondary-text;
    }
  }

  &Grid {
    display: grid;
    justify-items: center;
    gap: 32px 29px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  &Checkbox {
    padding: 19px;
    background-color: #616572;
    border-radius: 52px;
    transition: all 1s;
    border: none;
    &Active {
      transform: translate(36px);
      background-color: #70f1d9;
    }

    &Wrapper {
      cursor: pointer;
      background-color: #292c32;

      padding: 2px 38px 2px 2px;
      border-radius: 52px;
      margin-left: 24px;
    }
    &Container {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 600px) {
  .Gallery {
    &ChainStatus {
      display: flex;
    }

    &Head {
      margin-top: 12px;
      flex-direction: column;
      min-height: 150px;
      align-items: flex-start;
    }
  }
}
