@import '../../scss/variables.scss';

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.ModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.ModalBlock {
  font-family: $main-font;
  max-height: 550px;
  background: white;
  position: relative;
  top: 20%;
  margin: 0 auto;
  border-radius: 16px;
  max-width: 1200px;
  padding: 32px;
  border: 1px solid #373839;
  background: linear-gradient(180deg, #22252c 0%, #202329 104.84%);
}

.ModalContent {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.ModalInfoTransfer {
  position: relative;
  background: #292c32;
  border-radius: 16px;
  text-align: center;
  padding: 42px 30px 32px 30px;
  max-width: 552px;
  flex-grow: 1;
}

.ModalInfoTransfer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 10px;
  border: 1px solid transparent;
  background: linear-gradient(130deg, #3e3e3e, #21242a) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.ModalChainTransferInfo {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.ModalChainBlock {
  padding: 22px 16px;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  position: relative;
}

.ModalChainBlock::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  padding: 10px;
  border: 1px solid transparent;
  background: linear-gradient(130deg, #3e3e3e, #21242a) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.ModalLoadingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ModalLoadingBlock {
  border: 1px solid #3e3e3e;
  padding: 40px 14px 32px 14px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.ModalLoadingProcessText {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.ModalLoadingProcessSupprotText {
  margin-top: 24px;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
}

.ModalChainArrow {
  padding: 20px 20px 29px 20px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  border: 1px solid #3e3e3e;
  background: #292c32;
  margin: 0 -20px;
  z-index: 100;
}

.ModalCloseButton {
  position: absolute;
  width: 96px;
  top: 0;
  right: -48px;
  border: 1px solid #9e57e4;
  z-index: -100;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
}

.ModalCloseButtonItem {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 9px;
}

.ModalInfoApprove {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.ModalInfoApproveText {
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
}

.ModalApproveButton {
  padding: 20px 0;
  width: 100%;
  z-index: 1000;
}

.ModalSuccessContainer {
  display: flex;
  flex-direction: column;
}

.ModalSuccessImg {
  max-height: 200px;
  width: 100%;
}

@media (max-width: 1300px) {
  .ModalContent {
    display: block;
  }

  .ModalBlock {
    max-height: none;
    max-width: 550px;
  }

  .ModalContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .ModalCloseButton {
    width: 54px;
    height: 96px;
    top: -48px;
    right: 0;
    flex-direction: column;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .ModalContent {
    display: block;
  }

  .ModalBlock {
    max-height: none;
    max-width: 350px;
  }

  .ModalContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .ModalChainTransferInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
  }

  .ModalChainArrow {
    margin: -15px 0;
  }

  .ModalChainBlock {
    padding: 22px 12px;
    width: 100%;
  }
}

.ModalOtherNetworks {
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  padding: 12px;
  border: 1px solid #373839;
  background: #202329;
  border-radius: 8px;
  padding: 10px 16px 16px 16px;
  z-index: 1001;
  display: grid;
}
