@import '../../scss/variables.scss';

.MainWrapper {
  min-height: 100vh;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  padding: 0 20px;

  &Content {
    flex: 1 1 auto;
  }
}
