$main-font: 'Inter', sans-serif;

$main-color: #70f1d9;
$secondary-color: #9e57e4;
$main-bg: #1e2126;
$secondary-bg: #22252c;
$card-bg: #292c32;
$header-border: #2a2b2f;
$border: #373839;
$danger: #ff5353;

$main-text: #fff;
$secondary-text: #7f8084;
$disabled-text: #616572;
$dark-text: #1e2126;
$button-hover: #95f7e5;

$large-width: 1199px;
$medium-width: 991px;
$small-width: 575px;
